---
title: Apoxicam Photos
description: Saya bukanlah seorang fotografer, tapi saya suka memfoto apa yang menurut saya bagus sembari belajar.
keyword: apoxicam, apoxicam photos, photos
cover: /asset/index/cover.webp
layout: layout.html
---
<div class="container is-max-desktop">
    <section class="hero">
        <div class="hero-body no-padding-mobile">
            <!-- card again -->
            <div class="card no-border-radius-mobile">
                <!-- cover page -->
                <div class="card-image">
                    <figure class="image">
                        <img class="card-no-border-radius-mobile" src={{ cover }} alt="cover">
                    </figure>
                </div>
                <!-- navbar -->
                <div class="card-content has-no-padding-top-bottom">
                    <div class="navbar-brand">
                        <a aria-label="Home" class="navbar-item hoverable" href="/">{% feather "home" %}</a>
                        <div class="navbar-item has-text-weight-semibold">{{ title }}</div>
                        <div class="item-nav-end">
                            <!-- help me with this search -->
                            <!-- Search modal -->
                            <a aria-label="Search" class="modal-trigger navbar-item hoverable" href="#searchAll">{% feather "search" %}</a>
                            <!-- tag filter -->
                            <div class="navbar-item hoverable dropdown is-right" onclick="javascript:document.querySelector('.dropdown').classList.toggle('is-active')" 
                            onblur="javascript:document.querySelector('.dropdown').classList.toggle('is-active')">
                            {% feather "menu" %}
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        {% for tag in collections.photosTags %}
                                        <!-- list tag here -->
                                        <a class="dropdown-item" href="/photos/tag/{{ tag | slugify }}">{{ tag }}</a>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- photos masonry -->
                <div class="masonry">
                    {% for photos in collections.photos reversed %}
                    <div class="brick">
                        <a href="{{ photos.url }}">
                            <!-- thumbnail -->
                            <figure class="image">
                                <img src={{ photos.data.thumbnail}} alt="Thumbnail post">
                            </figure>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- here is footer -->
				<footer class="card-footer">
					<div class="card-footer-item has-text-centered">
						<p class="is-size-7 has-text-weight-semibold">
							© 2024 <a href="https://instagram.com/apoxicam">Apoxicam</a><br>
							All photos are licenced under
							<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1">
								CC BY-NC-ND 4.0
							</a>
						</p>
					</div>
				</footer>
            </div>
        </div>
    </section>
</div>
