---
eleventyExcludeFromCollections: true
permalink: /asset/css/style.css
---
/* custom */

.modal-image img {
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - 10rem);
  object-fit: contain;
}

/* table horizontal scroll*/
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--bulma-content-blockquote-background-color);
}

/* masonry */
/* from https://codepen.io/georgegriff/pen/XWjxvBa */
.masonry {
    --masonry-gap: 0.3rem;
    --masonry-brick-width: 180px;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
  }
  .masonry > * {
    break-inside: avoid;
    margin-bottom: var(--masonry-gap);
  }
  @supports(grid-template-rows: masonry) {
    .masonry {
      display: grid;
      gap: var(--masonry-gap);
      grid-template-rows: masonry;
      grid-template-columns: repeat(auto-fill, minmax(var(--masonry-brick-width), 1fr));
      align-tracks: stretch;
    }
  
    .masonry > * {
        margin-bottom: initial;
    }
  }
  
  /* style masonry */
  .brick:nth-child(4n - 7)
  .brick:nth-child(4n - 6)
  .brick:nth-child(4n - 5)
  .brick:nth-child(4n - 4)
  .brick {
    padding:1rem;
  }
  /* end masonry */
  
  .padding-08 {
    padding: 0.8rem !important;
  }
  
  .fix-width {
    width: 44px
  }
  .has-no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-margin {
    margin: 0;
  }
  .no-margin-top {
    margin-top: 0 !important;
  }
  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  .margin-bottom-1 {
    margin-bottom: 1rem !important;
  }
  .max-width-40 {
      max-width: 45em;
  }
  .has-bg-transparent {
      background-color: var(--bulma-code-background);
      border-radius: 0.5em;
      padding: 0.5em;
      color: var(--bulma-subtitle-color);
  }
  .has-bg-transparent:hover {
      background-color: var(--bulma-background-hover);
  }
  
  @media (max-width: 500px) {
    .no-padding-mobile {
        padding: 0 !important;
    }
    .no-border-radius-mobile {
        border-radius: 0 !important;
    }
    .card-no-border-radius-mobile {
        border-start-start-radius: 0 !important;
        border-start-end-radius: 0 !important;
    }
  }
  .hoverable:hover {
    background-color: var(--bulma-background-hover);
  }
  .item-nav-end {
    justify-content: flex-end;
    margin-inline-start: auto;
    align-items: stretch;
    display: flex;
  }

  /* scrollbar*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-border-l)); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.40); 
  }