---
layout: layout.html
---
<div class="container is-max-desktop">
    <section class="hero">
        <div class="hero-body no-padding-mobile">
            <!-- here we go, card. you know my style -->
            <div class="card no-border-radius-mobile">
                <!-- cover page -->
                <div class="card-image">
                    <figure class="image">
                        <img class="card-no-border-radius-mobile" src={{ cover }} alt="cover">
                    </figure>
                    <!-- profile -->
                    <div class="media bottom-left">
                        <div class="media-left">
                            <figure class="image has-size-mobile">
                                <img class="profile-pic" src={{ profile }} alt="profile pic">
                            </figure>
                        </div>
                    </div>
                    <div class="media-content profile-left">
                        <p class="title is-4">{{ author }}</p>
                        <p class="subtitle is-7">@{{ title }}</p>
                    </div>
                </div>
                <!-- navbar -->
                <div class="card-content has-no-padding-top-bottom">
                    <div class="navbar-brand">
                        <div class="item-nav-end">
                            <!-- help me with this search -->
                            <!-- Search modal -->
                            <a aria-label="Search" class="modal-trigger navbar-item hoverable" href="#searchAll">{% feather "search" %}</a>
                            <!-- tag filter -->
                            <div class="navbar-item hoverable dropdown is-right" onclick="javascript:document.querySelector('.dropdown').classList.toggle('is-active')" 
                            onblur="javascript:document.querySelector('.dropdown').classList.toggle('is-active')">
                            {% feather "menu" %}
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <!-- menu here -->
                                        <a class="dropdown-item" href="/photos">Photos</a>
                                        <a class="dropdown-item" href="/blog">Blog</a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <!-- describe yourself in index.md -->
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
                <!-- here is footer -->
                <footer class="card-footer">
                    <div class="card-footer-item has-text-centered">
                        <p class="is-size-7 has-text-weight-semibold">
                            © 2024 <a href="https://instagram.com/apoxicam">Apoxicam</a><br>
                            Powered by <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://bulma.io/">Bulma</a> and <a href="https://feathericons.com/">Feather Icons</a><br>
                            Sauce is available on <a href="https://github.com/sira313/eleventy-card">Github</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</div>
