---
layout: layout.html
---
<div class="container is-max-desktop">
    <section class="hero">
        <div class="hero-body no-padding-mobile">
            <!-- here we go, card. you know my style -->
            <div class="card no-border-radius-mobile">
                <!-- cover page -->
                <div class="card-image">
                    <figure class="image">
                        <img class="card-no-border-radius-mobile" src={{ cover }} alt="cover">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img class="has-radius-normal" src={{ profile }} alt="profile pic">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ author }}</p>
                            <p class="subtitle is-6">@{{ title }}</p>
                        </div>
                    </div>
                    <!-- here's nav bar -->
                    <div class="content">
                        <a class="has-bg-transparent is-size-6 has-text-weight-semibold" href="/photos">Photos</a>
                        <a class="has-bg-transparent is-size-6 has-text-weight-semibold" href="/blog">Random Blog</a>
                    </div>
                    <div class="content">
                        <!-- describe yourself here -->
                        <div class="content">
                            {{ content }}
                        </div>
                    </div>
                </div>
                <!-- here is footer -->
                <footer class="card-footer">
                    <div class="card-footer-item has-text-centered">
                        <p class="is-size-7 has-text-weight-semibold">
                            © 2024 <a href="https://instagram.com/apoxicam">Apoxicam</a><br>
                            Powered by <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://bulma.io/">Bulma</a> and <a href="https://feathericons.com/">Feather Icons</a><br>
                            Sauce is available on <a href="https://github.com/sira313/eleventy-card">Github</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</div>
