<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="{{ description }}">
		<meta name="keyword" content="{{ keyword }}">
		<meta name="author" content="{{ author }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/asset/index/favicon.ico">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/asset/css/style.css">
		<link rel="stylesheet" href="/asset/css/bulma.css">
		<link href="/asset/css/gg.css" rel="stylesheet">
		<script src="/asset/js/all.js"></script>
	</head>
	<body>
		<main>
			{{ content }}
		</main>
	</body>
</html>