<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="{{ description }}">
		<meta name="keyword" content="{{ keyword }}">
		<meta name="author" content="JohnDoe">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/asset/index/favicon.ico">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/asset/css/style.css">
		<link rel="stylesheet" href="/asset/css/bulma.css">
		<meta name="view-transition" content="same-origin">
		<script src="/asset/js/lazysizes.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
		  
			  // Temukan semua tautan modal
			  var modalTriggerList = [].slice.call(document.querySelectorAll('.modal-trigger'));
		  
			  // Loop melalui setiap tautan modal
			  modalTriggerList.forEach(function (modalTriggerEl) {
				// Tambahkan event listener untuk setiap tautan modal
				modalTriggerEl.addEventListener('click', function (event) {
				  event.preventDefault(); // Mencegah perilaku default tautan
				  var target = document.querySelector(modalTriggerEl.getAttribute('href')); // Dapatkan elemen modal yang sesuai dengan href
				  target.classList.add('is-active'); // Tampilkan modal
				});
			  });
		  
			  // Temukan semua tombol tutup modal
			  var modalCloseButtons = document.querySelectorAll('.modal-close');
		  
			  // Loop melalui setiap tombol tutup modal
			  modalCloseButtons.forEach(function (btn) {
				// Tambahkan event listener untuk setiap tombol tutup modal
				btn.addEventListener('click', function () {
				  var modal = btn.closest('.modal'); // Dapatkan elemen modal terdekat
				  modal.classList.remove('is-active'); // Sembunyikan modal
				});
			  });
		  
			  // Temukan semua latar belakang modal
			  var modalBackgrounds = document.querySelectorAll('.modal-background');
		  
			  // Loop melalui setiap latar belakang modal
			  modalBackgrounds.forEach(function (background) {
				// Tambahkan event listener untuk setiap latar belakang modal
				background.addEventListener('click', function () {
				  var modal = background.closest('.modal'); // Dapatkan elemen modal terdekat
				  modal.classList.remove('is-active'); // Sembunyikan modal
				});
			  });
		  
			});
		</script>					
	</head>
	<body>
		<main>
			{{ content }}
		</main>
		<!-- modal search in photos -->
		<div id="searchPhotos" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content has-text-centered">
			  	<div class="box">
					Search feature still WIP
			  	</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
		<!-- modal search in blog -->
		<div id="searchBlog" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content has-text-centered">
			  	<div class="box">
					Search feature still WIP
			  	</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
	</body>
</html>