<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="{{ description }}">
		<meta name="keyword" content="{{ keyword }}">
		<meta name="author" content="{{ author }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/asset/index/favicon.ico">
		<title>{{ title }}</title>
		<meta property="og:title" content="{{ title }}">
		{% if cover %}
		  <meta property="og:image" content="{{ cover }}">
		{% else %}
		  <meta property="og:image" content="/asset/index/cover.webp">
		{% endif %}
		<link rel="stylesheet" href="/asset/css/style.css">
		<link rel="stylesheet" href="/asset/css/bulma.css">
		<meta name="view-transition" content="same-origin">
		<script src="/asset/js/lazysizes.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
		  
			  // Find all modal link
			  var modalTriggerList = [].slice.call(document.querySelectorAll('.modal-trigger'));
		  
			  // Loop from modal link
			  modalTriggerList.forEach(function (modalTriggerEl) {
				// Add event listener for every link modal
				modalTriggerEl.addEventListener('click', function (event) {
				  event.preventDefault(); // Prevent default link behavior
				  var target = document.querySelector(modalTriggerEl.getAttribute('href')); // Get the relevant modal element with href
				  target.classList.add('is-active'); // Show the modal
				});
			  });
		  
			  // Find every close button modal
			  var modalCloseButtons = document.querySelectorAll('.modal-close');
		  
			  // Loop from every close button modal
			  modalCloseButtons.forEach(function (btn) {
				// Add listener event for every close button modal
				btn.addEventListener('click', function () {
				  var modal = btn.closest('.modal'); // Get the closest modal element 
				  modal.classList.remove('is-active'); // Hide modal
				});
			  });
		  
			  // Find all modal background
			  var modalBackgrounds = document.querySelectorAll('.modal-background');
		  
			  // Loop from every modal background
			  modalBackgrounds.forEach(function (background) {
				// Add listener event for modal background
				background.addEventListener('click', function () {
				  var modal = background.closest('.modal'); // Get the closest modal element
				  modal.classList.remove('is-active'); // Hide modal
				});
			  });
		  
			});
		</script>					
	</head>
	<body>
		<main>
			{{ content }}
		</main>
		<!-- modal search in photos -->
		<div id="searchPhotos" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
			  	<div class="box">
					SEARCH FEATURE WIP
			  	</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
		<!-- modal search in blog -->
		<div id="searchBlog" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
			  	<div class="box">
					SEARCH FEATURE WIP
			  	</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
	</body>
</html>
