---
cover: /asset/index/cover.webp
pagination:
  data: collections.blogTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layout.html
permalink: /blog/tag/{{tag | slugify }}/index.html
eleventyComputed:
  title: "{{ tag }}"
---
<div class="container is-max-desktop">
    <section class="hero">
        <div class="hero-body no-padding-mobile">
            <!-- card again -->
            <div class="card no-border-radius-mobile">
                <!-- cover page -->
                <div class="card-image">
                    <figure class="image">
                        <img class="card-no-border-radius-mobile" src={{ cover }} alt="cover">
                    </figure>
                </div>
                <!-- navbar -->
                <div class="card-content has-no-padding-top-bottom" style="border-bottom: var(--bulma-card-footer-border-top);">
                    <div class="navbar-brand">
                        <a class="navbar-item hoverable" href="/blog">{% feather "list" %}</a>
                        <div class="navbar-item has-text-weight-semibold">{{ title }}</div>
                        <div class="item-nav-end">
                            <!-- help me with this search -->
                            <!-- Search modal -->
                            <a class="modal-trigger navbar-item hoverable" href="#searchAll">{% feather "search" %}</a>
                            <!-- tag filter -->
                            <div class="navbar-item hoverable dropdown is-right" onclick="javascript:document.querySelector('.dropdown').classList.toggle('is-active')" 
                            onblur="javascript:document.querySelector('.dropdown').classList.toggle('is-active')" aria-haspopup="true" aria-controls="dropdown-menu">
                            {% feather "menu" %}
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        {% for tag in collections.blogTags %}
                                        <!-- list tag here -->
                                        <a class="dropdown-item" href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="content>">
                        <ul>
                            {% for post in collections[tag] reversed %}
                            <li class="content">
                                <p class="no-margin-bottom is-size-5 has-text-weight-semibold"><a href="{{ post.url }}">{{ post.data.title }}</a></p>
                                <!-- content preview -->
                                <p>{{ post.data.description }}</p>
                                <!-- date post here -->
                                <p class="is-size-7">{{ post.data.date | date: "%a, %d %b %Y" }}</p>
                            </li>
                            {% endfor %}
                        </ul>    
                    </div>
                </div>
                <!-- here is footer -->
                <footer class="card-footer">
                    <div class="card-footer-item has-text-centered">
                        <p class="is-size-7">
                            © 2024 <a href="https://instagram.com/apoxicam">Apoxicam</a><br>
                            Powered by <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://bulma.io/">Bulma</a><br>
                            Sauce is available on <a href="/">Github</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</div>